.aboutus {
    padding-right: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;


    h1 {
     color:#181f45 ;
    text-align: center;
    }
}


.textblock {
    padding-left: 50px;
    margin-top: 30px;
    display: flex ;
    font-size: 26px;
    color: #3a3a3d;
}